*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    background-image:url(/Gemini_Generated_Image_z90yyjz90yyjz90y.jpeg);
    font-size: 30px;
 }
header{
  background-color: Black;
  padding: 30px;
}
footer{
  background-color: black;
}
img{
    border: 2px solid white;
    border-radius: 20px;
    width:  600px;
    height: 500px;
    max-width: 100%;
    height: auto;
}
  h1{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Tahoma, sans-serif;
  }
  h3{
    color:#032BFF;
    font-size: 20px;
  }
  iframe{
    border-radius: 10px;
    width: 850px;
    height:500px;
  }
  p{
    color: #FFFFFF;
  }
