*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: bold, Helvetica, sans-serif;

}
body {
    background:#B0C9CF;    
    font-size: 30px;
}
header{
  background-color: #FFFFFF;
  height: 100px;
  
}
footer{
  background-color:#000000;
  padding-bottom: 300px;
}
img{
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
}
  h1{
    color: #000000;
    font-size: 40px;
    padding-left: 3px;
    
  }
  h3{
    font-size: 40px;
    text-align: center;
  }
  iframe{
    border-radius: 10px;
    width: 900px;
    height: 700px;
    margin: 40px;
  }
  p{
    font-size:auto;
    margin: 40px;
    }
  dt{
    font-size: 40px;
  }
  hr{
    height: 1px;
    background: #FFFFFF;
    margin-top: 3px;
  }
  h4{
    text-align: center;
  }
